<app-navbar></app-navbar>
<br>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h1 style="text-align:center">HOSPITAL APP DEMO</h1>
            <p style="text-align: center;">All the pages commented out check source code</p>
        </div>
        <!-- <app-add-patient></app-add-patient>
        <br>
        <app-search-patient></app-search-patient>
        <br>
        <app-view-patient></app-view-patient> -->
    </div>
</div>
